/.env
/config/local.php
/storage/cache/*
!/storage/cache/.gitkeep
/storage/cms/*
!/storage/cms/.gitkeep
/storage/quarantine/
/public/uploads/*
!/public/uploads/.gitkeep
*.log
.DS_Store
Thumbs.db
/airitechno/
/dist/
